set timeout=8
set default=0
source /boot/grub/config.cfg

menuentry "TraceOS Amnesic (no persistent storage)" {
    linux @KERNEL_LIVE@ @APPEND_LIVE@ nopersistence splash
    initrd @INITRD_LIVE@
}

menuentry "TraceOS Persistent" {
    linux @KERNEL_LIVE@ @APPEND_LIVE@ persistence splash
    initrd @INITRD_LIVE@
}

menuentry "TraceOS Persistent (Encrypted LUKS)" {
    linux @KERNEL_LIVE@ @APPEND_LIVE@ persistence persistence-encryption=luks splash
    initrd @INITRD_LIVE@
}

menuentry "TraceOS Persistent from USB" {
    linux @KERNEL_LIVE@ @APPEND_LIVE@ persistence persistence-media=removable-usb splash
    initrd @INITRD_LIVE@
}

menuentry "TraceOS Persistent (Encrypted LUKS USB)" {
    linux @KERNEL_LIVE@ @APPEND_LIVE@ persistence persistence-media=removable-usb persistence-encryption=luks splash
    initrd @INITRD_LIVE@
}

menuentry "TraceOS Failsafe (Amnesic)" {
    linux @KERNEL_LIVE@ @APPEND_LIVE_FAILSAFE@ nopersistence
    initrd @INITRD_LIVE@
}
